a {
  display: flex;
  align-items: center;
  position: relative;
}

.comunityName {
  display: flex;
  position: absolute;
  left: 2rem;
  z-index: 3;
  padding: 0.2rem 3rem;
  width: 14rem;
  font-size: 1em;
  font-weight: 500;
  color: #808280;
  border-top: 2px solid #363636;
  border-bottom: 2px solid #363636;
  background: linear-gradient(-90deg, transparent, #121212 40%);
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid #505455;
  background: #121212;
  cursor: pointer;
  margin: 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 4;
  transform: rotate(45deg);

  svg {
    display: block;
    color: #808280;
    transform: rotate(-45deg);
  }
}

a:hover {
  .icon svg {
    color: #fff;
  }

  span {
    color: #fff;
  }

  #WikiGame {
    background-color: rgb(255, 0, 153);
  }

  #SteamGuide {
    background-color: rgb(21, 106, 160);
  }

  #GameWeb {
    background-color: rgb(238, 40, 25);
  }
}

#WikiGame {
  font-size: 1.5em;
}

#SteamGuide {
  font-size: 1.3em;
}

#GameWeb {
  font-size: 1.6em;
}
