.pathContainer {
  .boxPath {
    width: 50%;
  }

  h4 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;

    background-color: #610804;
    border: 3px solid #000;
  }

  .pathSkills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    min-height: 17rem;
    gap: 2%;

    img {
      display: flex;
      width: 35%;

      margin-left: 5%;
      margin-top: 5%;
    }

    .pathData {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      padding: 5% 0%;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        gap: 0.2rem;

        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          width: 100%;
          padding: 0% 5%;

          font-size: 0.8em;
          font-weight: 400;
          list-style: none;

          h5 {
            font-size: 1em;
            font-weight: 700;

            color: #7490a8;
          }

          span {
            margin-left: 5%;
            text-align: start;
          }
        }
      }
    }
  }
}
