.skillsHeroArray {
  .skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    cursor: pointer;

    input {
      display: none;
    }

    img {
      position: relative;
      display: flex;
      flex-direction: column;

      background-color: #222;
      border: solid 2px #000;

      transition: all 0.215s ease-in-out;

      &:hover {
        border: 2px solid #696a6c;
      }
    }

    i {
      font-size: 0.7em;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
}
