.uniqueToken {
  padding: 2%;
  background-color: #000000;

  h5 {
    display: flex;

    padding-left: 10%;

    border-bottom: 1px solid #7a7a7a;

    font-size: 1.4em;
  }

  span {
    display: flex;
    justify-content: flex-start;

    padding-left: 5%;
    font-size: 1em;

    color: #7490a8;
  }
}
