.background {
  position: relative;
  overflow: hidden;

  background-color: #1e1e1e;
  min-height: 100vh;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to top, #000, rgba(255, 255, 255, 0));
    pointer-events: none;
  }
}

.homeContain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  img {
    margin-top: 3%;
    width: 50%;
  }

  h1 {
    text-align: center;

    padding: 0.2rem 3rem;
    width: 30%;

    white-space: nowrap;

    font-size: 2.2em;
    font-weight: 400;
    text-transform: uppercase;

    color: #808280;
    border-top: 2px solid #363636;
    border-bottom: 2px solid #363636;

    background: linear-gradient(
      to right,
      transparent 5%,
      #000 50%,
      transparent 95%
    );

    transition: all 0.3s ease-in-out;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

.referenceWebs {
  position: absolute;
  left: 2%;
  bottom: 5%;
  z-index: 1;

  ul {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

/*TODO RESPONSIVE MOBILE */
@media (max-width: 480px) {

    /*?: TEMP DISABLE*/
  .profileUser {
    display: none;
  }

  .referenceWebs {
    left: 13%;
    bottom: 7%;
  }

  .homeContain {
    margin-top: 17%;

    img {
      width: 80%;
    }

    h1 {
      width: 80%;
      
    }
  }
}