.wikiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.wikiContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;

  h1 {
    font-size: 2em;
    color: #d5ae52;
    text-transform: uppercase;
    text-align: center;
  }

  hr{
    width: 100%;
    border: 1px solid #d5ae52;
  }

  p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    margin: 0.5rem;
  }
}
