.wikiContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 100vh;
}

.heroWikiContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 100%;
  width: 35%;

  padding: 5% 0%;

  gap: 1rem;
  z-index: 5;


  .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0% 5%;

    gap: 0.5rem;

    z-index: 1;

    .heroSearchBar {
      width: 100%;

      .wrapper {
        background: #000;
        border: 1px solid #fff;
        border-radius: 0px;
      }

      input {
        font-size: 1.5em;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      border: none;

      svg {
        font-size: 3em;
        color: rgb(255, 255, 255, 0.7);
        transition: all ease-in-out 0.1s;

        &:hover {
          color: #7a9cc6;
          transform: scale(1.1);
          cursor: pointer;
        }

        &:active {
          transform: scale(0.9);
          opacity: 0.5;
        }
      }
    }
  }
}

.imgCont {
  position: relative;
  height: 87%;
}

.heroPath {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  bottom: 15%;
  width: 100%;
  gap: 1rem;

  cite {

    width: 100%;
    text-align: center;

    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;

    padding: 0.5rem 2rem;
    color: #dab255;
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      transparent
    );
  }
}

.wikiContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 65%;
  height: 100%;

  padding: 2%;

  border-style: solid;
  border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
  border-right: 1px;

  background: rgb(0, 0, 0, 0.6);
}
