.wipContainer {
  position: absolute;
  right: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.wipContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 5%;

  h1 {
    font-size: 1.8em;
    color: #d5ae52;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
  }
}
