.wipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 52%;
}

.wipContain {
  width: 100%;
  margin: 5%;

  h1 {
    font-size: 1.8em;
    color: #d5ae52;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
  }
}

/*? Responsive Styles */
@media (max-width: 480px) {

  .wipContainer{
    width: 100%;
  }

  .wipContain{
    width: 80%;
  }
}
